.item {
    padding: 14px 12px 18px 15px;
    margin-bottom: 14px;
    margin-right: 6px;
    border-radius: 8px;
    border: 1px solid rgba(220, 227, 229, 0.8);
    background-color: #F7F6F9;

    @media screen and (min-width: 768px) {
        margin-bottom: 18px;
    }
}

.title {
    width: 100%;
    padding: 0;
    margin: 0 0 28px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        margin: 0 0 32px 0;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container__info {
    display: flex;
    align-items: flex-end;
}

.container__user {
    display: flex;
    margin-right: 8px;
    border: 1.8px solid #3E85F3;
    border-radius: 50%;
    object-fit: cover;
}

.priority {
    color: #F7F6F9;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 12px;
}

.priority__low {
    background-color: #72C2F8;
}

.priority__medium {
    background-color: #F3B249;
}

.priority__high {
    background-color: #EA3D65;
}