@import 'node_modules/modern-normalize/modern-normalize.css';
/* bring in normalize.css styles */

@font-face {
  font-family: "Coolvetica";
  src: url('../fonts/Coolvetica.ttf') format('truetype');
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}